.heroBanner,
.sectionBanner {
  background: url(../../assets/office.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  width: 100%;
}
.sectionBannerContainer {
  display: flex;
}
.sectionTitleContainer {
  padding: 2rem 0;
}
.heroContainer {
  text-align: center;
}
.heroTitle,
.heroShortTitle {
  color: white;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-family: monospace, "Ready Player 2", sans-serif;
  overflow: hidden;
  border-right: 0.5rem solid orange;
  white-space: nowrap;
  font-weight: 600;
  margin: 0 auto 2rem auto;
  letter-spacing: 0.15rem;
  animation: typing 3.5s steps(24, end), blink-caret 1s step-end infinite;
}
.heroShortTitle {
  animation: typing 1s steps(4, end), blink-caret 1s step-end infinite;
}
.heroSubTitle {
  display: flex;
  color: white;
  opacity: 0;
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  border-right: 0.5rem solid orange;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15rem;
  animation: typingSubtitle 2s steps(24, end), blink-caret 1s step-end infinite;
  animation-delay: 4s;
}
@media screen and (max-width: 1024px) {
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typingSubtitle {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    opacity: 100;
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
